{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h4>{{aihe.tekija_nimi}} (aiheen loi {{luoja.enimi}} {{luoja.snimi}} {{aihe.luotu|date('d.m.Y')}})</h4>
{{forms.poisto_nappi_aihe("#{base_path}/aihe/#{aihe.id}/poista", "#{aihe.otsikko}")}}


<h3>Ohjaajat</h3>
<ul>
    {% for ohjaaja in ohjaajat %}
        {{forms.poisto_nappi_listat("#{base_path}/aihe/#{aihe.id}/poista_ohjaaja/#{ohjaaja.id}", "#{ ohjaaja.enimi } #{ ohjaaja.snimi }")}}
    {% endfor %}
</ul>
<form method="post" action="{{base_path}}/aihe/{{aihe.id}}/lisaa_ohjaaja">
    <div class="col-xs-5">
        <select class="form-control form-group-sm" name="ohjaaja_id">
            <option disabled selected>Valitse lisättävä ohjaaja</option>
            {% for ohjaaja in kaikki_ohjaajat %} 
            <option value="{{ohjaaja.id}}">{{ohjaaja.enimi}} {{ohjaaja.snimi}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Lisää</button>
</form>

<h3>Tutkimusalat</h3>
<ul>
    {% for ala in alat %}
        {{forms.poisto_nappi_listat("#{base_path}/aihe/#{aihe.id}/poista_ala/#{ala.id}", "#{ala.nimi}")}}
    {% endfor %}
</ul>

<form method="post" action="{{base_path}}/aihe/{{aihe.id}}/lisaa_tutkimusala">
    <div class="col-xs-5">
        <select class="form-control form-group-sm" name="tutkimusala_id">
            <option disabled selected>Valitse lisättävä tutkimusala</option>
            {% for ala in kaikki_alat %} 
            <option value="{{ala.id}}">{{ala.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Lisää</button>
</form>

<h3>Tapahtumat</h3>
    <ul>
        {% for tapahtuma in tapahtumat %}
        <li>  
            {{ tapahtuma.nimi }}
            ({{ tapahtuma.aika |date('d.m.Y')}})
            <button type="submit" class="btn btn-xs btn-default">Tarkastele</button>

        </li>
        {% endfor %}
    </ul>
<form method="post" action="{{base_path}}/aihe/{{aihe.id}}/lisaa_tapahtumatyyppi">
    <div class="col-xs-5">
        <select class="form-control form-group-sm" name="tapahtumatyyppi_id">
            <option disabled selected>Valitse lisättävä tapahtumatyyppi</option>
            {% for tapahtuma in tapahtumatyyppi %} 
            <option value="{{tapahtuma.id}}">{{tapahtuma.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary"> Lisää</button>
</form>
            
<p></p>
<a href="{{base_path}}/aihe/{{aihe.id}}/aiheen_tiedot" class="btn btn-default">Muokkaa otsikkoa, kuvausta tai tekijän tietoja</a>
<p></p>


<a class="btn btn-primary" href="{{base_path}}/aihe/{{aihe.id}}">Paluu</a>


{% endblock %}