{% extends "base.html" %}
{% block content %}
<button type="submit" class="btn btn-primary">Muokkaa otsikkoa, kuvausta tai tekijän tietoja</button>
<h4>{{aihe.tekija_nimi}}</h4>
<h1><strong>{{aihe.otsikko}}</strong></h1>


<h3>Ohjaajat</h3>
<ul>
    {% for ohjaaja in ohjaajat %}
    <li>  
        {{ ohjaaja.enimi }}
        {{ ohjaaja.snimi }}
        <button type="submit" class="btn-xs btn-danger">Poista ohjaaja</button>
    </li>
    {% endfor %}
</ul>
<form method="post" action="{{base_path}}/aihe/{{aihe.id}}/lisaa_ohjaaja">
    <div class="col-xs-5">
        <select class="form-control form-group-sm" name="ohjaaja_id">
            <option disabled selected>Valitse</option>
            {% for ohjaaja in kaikki_ohjaajat %} 
            <option value="{{ohjaaja.id}}">{{ohjaaja.enimi}} {{ohjaaja.snimi}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary"> Lisää ohjaaja</button>
</form>

<h3>Tutkimusalat</h3>
<ul>
    {% for ala in alat %}
    <li>  
        {{ ala.nimi }}
        <button type="submit" class="btn-xs btn-danger">Poista tutkimusala</button>
    </li>
    {% endfor %}
</ul>
<form method="post" action="{{base_path}}/aihe/{{aihe.id}}/lisaa_tutkimusala">
    <div class="col-xs-5">
        <select class="form-control form-group-sm" name="tutkimusala_id">
            <option disabled selected>Valitse</option>
            {% for ala in kaikki_alat %} 
            <option value="{{ala.id}}">{{ala.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary"> Lisää tutkimusala</button>
</form>
            

<h3>Tutkimusalat</h3>
<div class="form-group">
    <ul>
        {% for ala in alat %}
        <li>  
            {{ ala.nimi }}
            <a class="label label-danger" >Poista</a>

        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">Lisää tutkimusala</button>
</div>

<h3>Tapahtumat</h3>
<div class="form-group">
    <ul>
        {% for tapahtuma in tapahtumat %}
        <li>  
            {{ tapahtuma.nimi }}
            ({{ tapahtuma.aika |date('d.m.Y')}})
            <a class="label label-primary" >Tarkastele</a>

        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">Lisää tapahtuma</button>
</div>

<p></p>


<a class="btn btn-primary" href="{{base_path}}/aiheet">Paluu</a>


{% endblock %}