{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Hae aiheita</h1>
<form method="get" action="{{base_path}}/aiheet/haku">
    <div class="form-group">
        <label>Tutkimusala, johon graduaihe liittyy</label>
        <input id="tutkimusalat" class="form-control" name="tutkimusala" placeholder="Syötä tutkimusala (esim. 'relaatiotietokannat')">
    </div>
    <div class="form-group">
        <label>Gradun ohjaajan sukunimi</label>
        <input id="ohjaajat" class="form-control" name="snimi" placeholder="Syötä sukunimi (esim. 'ohjausmestari')">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Hae</button>
    </div>
</form>

{% if haku %}
<div class="alert alert-success">
    <strong>{{haku}}</strong>
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Aloituspäivä</th>
        </tr>
    </thead>

    <tbody>
        {% for aihe in aiheet %}
        <tr>
            <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.otsikko}}</a></td>
            <td>{{aihe.luotu|date('d.m.Y')}}</td>        
        </tr>        
        {% endfor %}        
        
    </tbody>
</table>

<p></p>
{% if user_logged_in %}
<a class="btn btn-primary" href="{{base_path}}/aiheet/uusi">Luo uusi aihe</a>
{% endif %}

</head>
<body>

{% endblock %}


