{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<div style="display: inline-block;">
    <form method="post" action="{{base_path}}/aihe/{{aihe}}/tapahtuma/{{tyyppi}}/aika/{{aika}}/poista" style="display: inline-block;">
        <h2>Tapahtuma: {{nimi}} <button type="submit" class="btn btn-danger">Poista</button></h2>
    </form>
</div>
<h5>Merkinnyt: {{merkitsija.enimi}} {{merkitsija.snimi}} ({{aika|date('d.m.Y')}})</h5>
<form method="post" action="{{base_path}}/aihe/{{aihe}}/tapahtuma/{{tyyppi}}/aika/{{aika}}">
    <div class="form-group">
        <label>Kommentti:</label>
        <textarea class="form-control" name="kommentti">
        {{kommentti}}
        </textarea>
        <p></p>
   
    <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
        <p></p>
 
  <a class="btn btn-primary" href="{{base_path}}/aihe/{{aihe}}/muokkaus">Paluu</a>
{% endblock %}
