{% extends "base.html" %}
{% block content %}
<h1>Tehokas tekstihaku suuressa relaatiotietokannassa</h1>
  <ul>
    <li><strong>Aloituspäivä:</strong> 11.11.2011</li>
    <li><strong>Ohjaajat:</strong> Olli Ohjausmestari, Kalle Kakkonen</li>
    <li><strong>Erityisalat:</strong>Tietokantajärjestelmät, Hakualgoritmit</li>  
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Edellinen tapahtuma:</strong> 9.12.2014</li>
  </ul>
  <p>
    Kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus
  </p>
  <a class="btn btn-primary" href="http://mkahri.users.cs.helsinki.fi/tsoha/aiheet">Paluu</a>
{% endblock %}