{% extends "base.html" %}
{% block content %}
<h1><strong>Tehokas tekstihaku suuressa relaatiotietokannassa</strong></h1>
<h4>Olli Opiskelija</h4>
<button type="submit" class="btn btn-primary">Muokkaa otsikkoa, kuvausta tai tekijän tietoja</button>
<div class="form-group">
    <h3>Ohjaajat</h3>
    <ul>
        <li>Olli Ohjausmestari <a class="label label-danger">Poista</a></li>
        <li>Kalle Kakkonen <a class="label label-danger">Poista</a></li>
    </ul>
    <button type="submit" class="btn btn-primary">Lisää ohjaaja</button>
</div>


<h3>Tapahtumat:</h3>
<div class="form-group">
    <ul>
        <li>Ohjauspalaveri (3.12.2011)  <a class="label label-primary" >Tarkastele</a></li>
        <li>Ohjauspalaveri (1.2.2012)  <a class="label label-primary" >Tarkastele</a></li>
        <li>Graduseminaari suoritettu (12.5.2012)  <a class="label label-primary" >Tarkastele</a></li>
        <li>Ohjauspalaveri (1.6.2012)  <a class="label label-primary" >Tarkastele</a></li>
        <li>Ohjauspalaveri (9.12.2014)    <a class="label label-primary" >Tarkastele</a></li>
    </ul>
    <button type="submit" class="btn btn-primary">Lisää tapahtuma</button>
</div>

<h3>Erityisalat:</h3>
<div class="form-group">
    <ul>
        <li>Tietokantajärjestelmät <a class="label label-danger" >Poista</a></li>
        <li>Hakualgoritmit <a class="label label-danger" >Poista</a></li>
    </ul>
    <button type="submit" class="btn btn-primary">Lisää erityisala</button>
</div>

<h2>Muokkaa Tietoja:</h2>
<form>
    <div class="form-group">
        <label>Otsikko</label>
        <input type="text" class="form-control" value="Tehokas tekstihaku suuressa relaatiotietokannassa">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">Kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus kuvaus
        </textarea>
    </div>

    <div class="form-group">
        <label>Tekijän opiskelijanumero</label>
        <input type="number" class="form-control" value="001234567">
    </div>
    
    <div class="form-group">
        <label>Tekijän nimi</label>
        <input type="text" class="form-control" value="Otto Opiskelija">
    </div>
    
    <button type="submit" class="btn btn-primary">Päivitä otsikko, kuvaus ja tekijä</button>
</form>
<p></p>


<a class="btn btn-primary" href="{{base_path}}/aiheet">Paluu</a>


{% endblock %}